**/.git
**/node_modules
**/bin
**/obj
**/.vs
**/.vscode
**/.idea
**/.angular
**/dist
**/TestResults
*.log
*.db-shm
*.db-wal
.env
.env.local
Dockerfile.optimized
docker-compose.yml
docker-compose.prod.yml
**/__azurite*
**/__blobstorage*
**/__queuestorage*
**/__tablestorage*
**/__cosmosdb*
**/.gitignore
**/.dockerignore
